<!-- navbar.ejs -->
<nav>
    <ul>
      <li><a href="/homePage">Accueil</a></li>
      <li><a href="/test">À propos</a></li>
      <!-- Autres liens de la barre de navigation -->
    </ul>
  </nav>
  